// 커스텀 블럭 스타일
.theme-boldjournal .gutenberg__content,
.xe-blockeditor__editor {
  // 리드문
  .is-style-boldjournal__text-lead,
  .is-style-boldjournal__text-lead--indent {
    position: relative;
    margin-bottom: 40px;
    padding-top: 26px;
    font-family: 'Nanum Myeongjo', sans-serif;
    font-size: 18px;
    line-height: 1.78;
    color: #9f845b;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 2px;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      transform: rotate(45deg);
      background-color: #9f845b;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 14px;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      transform: rotate(45deg);
      background-color: #9f845b;
    }
  }

  // 인용문

  .is-style-boldjournal__text-quote,
  .is-style-boldjournal__text-quote--indent {
    padding-left: 18px;
    border-left: 2px solid #a48355;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -0.0277em;
    color: #a48355;
  }

  // hr
  .wp-block-separator {
    &.is-style-boldjournal__text-separator,
    &.is-style-boldjournal__text-separator--indent {
      max-width: 100%;
      margin-top: 100px;
      margin-bottom: 100px;
      border-color: #d8d8d8;
    }
  }

  // 서브타이틀
  .is-style-boldjournal__text-type--subtitle,
  .is-style-boldjournal__text-type--subtitle-indent {
    em {
      font-family: 'LarishAlte-Semibold', sans-serif;
      font-style: normal;
      font-size: 0.8em;
      font-weight: 400;
      line-height: 1;
      vertical-align: 0.2em;
      color: #989898;
    }
  }

  .wp-block-group {
    &.is-style-boldjournal__group-type--tip,
    &.is-style-boldjournal__group-type--tip-indent {
      margin-bottom: 28px;
      padding: 40px 40px 12px;

      p {
        color: #989898;
      }
    }
  }
}

// 편집모드 스타일 추가 덮기
.xe-blockeditor__editor {
  .block-editor-block-list__block[data-type="core/paragraph"] {
    .is-style-boldjournal__text-lead,
    .is-style-boldjournal__text-lead--indent {
      margin-bottom: 40px;
      padding-top: 26px;
      font-size: 18px;
      line-height: 1.78;
    }
  }

  .wp-block-group {
    &.is-style-boldjournal__group-type--tip,
    &.is-style-boldjournal__group-type--tip-indent {
      padding: 40px 18px;
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .theme-boldjournal .gutenberg__content,
  .xe-blockeditor__editor {
    // 리드문
    .is-style-boldjournal__text-lead {
      margin-bottom: 60px;
      font-size: 28px;
      line-height: 1.57;
    }

    .is-style-boldjournal__text-lead--indent {
      margin-left: 8.33333%;
      margin-right: 8.33333%;
      margin-bottom: 60px;
      font-size: 28px;
      line-height: 1.57;
    }

    // 문단 좌우 간격
    .is-style-boldjournal__text-indent {
      margin-left: 8.33333%;
      margin-right: 8.33333%;
    }

    // 인용문
    .is-style-boldjournal__text-quote {
      margin-left: -26px;
      padding-left: 24px;
      font-size: 30px;
      line-height: 1.6;
      letter-spacing: -0.0333em;
      color: #a48355;
    }

    .is-style-boldjournal__text-quote--indent {
      margin-left: calc(8.33333% - 26px);
      padding-left: 24px;
      font-size: 30px;
      line-height: 1.6;
      letter-spacing: -0.0333em;
      color: #a48355;
    }

    // hr
    .wp-block-separator {
      &.is-style-boldjournal__text-separator--indent {
        margin-left: 8.33333%;
        margin-right: 8.33333%;
      }
    }

    // 서브 타이틀

    .is-style-boldjournal__text-type--subtitle-indent {
      margin-left: 8.33333%;
      margin-right: 8.33333%;
    }

    .wp-block-group {
      &.is-style-boldjournal__group-type--tip-indent {
        margin-left: 8.3333%;
        margin-right: 8.3333%;
      }
    }
  }

  // 편집모드 스타일 추가 덮기
  .xe-blockeditor__editor {
    .block-editor-block-list__block[data-type="core/paragraph"] {
      .is-style-boldjournal__text-lead {
        margin-bottom: 60px;
        font-size: 28px;
        line-height: 1.57;
      }

      .is-style-boldjournal__text-lead--indent {
        margin-left: 8.33333%;
        margin-right: 8.33333%;
        margin-bottom: 60px;
        font-size: 28px;
        line-height: 1.57;
      }
    }
  }
}
