// 편집기(에디터 스타일)
@import 'https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css'; // 나눔명조 웹 폰트

@import 'editor/editor-common'; // 편집기 기본 스타일
@import 'editor/editor-sidebar'; // 편집기 우측 사이드 메뉴 스타일
// 블럭 스타일
@import 'editor/editor-paragraph-block'; // paragraph 블럭
@import 'editor/editor-column-block'; // column 블럭
@import 'editor/editor-image-block'; // image 블럭
@import 'editor/editor-heading-block'; // heading 블럭

.block-editor-block-list__layout {
  .block-editor-block-list__block {
    .block-editor-block-drop-zone {
      bottom: -3px;
      margin: 0 14px;
      top: -4px;
    }
  }
}

/* Width of the editor column */
.xe-blockeditor__editor {
  // .edit-post-visual-editor,
  .editor-post-title__block,
  .block-editor-default-block-appender,
  .block-editor-block-list__block {
    margin-left: auto;
    margin-right: auto;
    max-width: 1056px; /* width of page (1034px) plus 2 x 6px padding */
  }

  .edit-post-text-editor {
    margin-left: 20px;
    margin-right: 0;
  }

  .wp-block[data-align=full] {
    max-width: none;
  }
}


.xe-blockeditor__editor {
  // 모바일에서 좌우 간격
  .block-editor-block-list__layout {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.new-tag-input-wrapper {
  padding: 2px !important;
}
.new-tag-input-wrapper input {
  padding: 8px 6px !important;
}

@media (min-width: 768px) {
  .xe-blockeditor__editor {

  }
}

@media (min-width: 992px) {

}
