// Gutenberg imports
@import "~gutenberg/packages/components/build-style/style.css";
@import "~gutenberg/packages/block-editor/build-style/style.css";
@import "~gutenberg/packages/nux/build-style/style.css";
@import "~gutenberg/packages/editor/build-style/style.css";
@import "~gutenberg/packages/block-library/build-style/style.css";
@import "~gutenberg/packages/block-library/build-style/editor.css";
@import "~gutenberg/packages/block-library/build-style/theme.css";
@import "~gutenberg/packages/edit-post/build-style/style.css";
@import "~gutenberg/packages/format-library/build-style/style.css";
@import "~gutenberg/packages/list-reusable-blocks/build-style/style.css";

//
@import "./wordpress-overrides.scss";

.block-editor__container {
  // position: relative;
}

.edit-post-editor-regions {
  // position: static;
  left: 0;
}

.write_form_editor {
  min-height: calc(100vh - 50px);
}

.xe-blockeditor__editor .xeuio-ml__preview-item {
  flex: 0 1 100%;
}
.xe-blockeditor__editor .xeuio-ml__add-item,
.xe-blockeditor__editor .xeuio-ml__add {
  width: 100%;
}


.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
